.foot
{
    background-color: #050923;
    height: 500px;
    width: 100%;
}
.foot-panel1
{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height: 80px;
    width:65%;
    margin-bottom: 1%;
}
.address
{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1% ;
    padding-left: 2%;
    display: block;
}

.loc
{
    margin-top: 5%;
    color: #FFFFFF;
    font-size:1.5rem;
    padding-right: 150px;
}
.location
{
    font-size: 1rem;
    margin-top: 3%;
    color: #cccccc;
 
    margin-right: 2% ;
}
.line
{
    color: #FFFFFF;
    width: 65%;
    margin-left: 1%;
}
.s
{
    display: flex;
    justify-content: space-around;
}
.foot-panel2
{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 100%;
}

.col1
{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1% ;
    padding-left: 2%;
    width:30%;
}
.col1 p
{
    margin-top: 3%;
    color: #FFFFFF;
    font-family: Segoe UI;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.col2
{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2% ;
    display: block;
    width: 20%;
  

}
.services
{
    color: #FFFFFF;
font-family: Roboto Slab;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 24px;
text-decoration: underline #FF5E14;
margin-left: 35px;
}
.servicetypes
{
    margin-top:15% ;
}

.types p
{
    color: #FFF;
font-family: Poppins;
margin-bottom: 15px;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
text-transform: capitalize;
text-decoration: none;

}
.col3
{
    margin-top:-1%;
    margin-left: 2%;
    margin-right: 2% ;
    display: block;
    width: 25%;

}
.types2
{
    margin-top: 25%;
}
.types2 p
{
    color: #FFF;
font-family: Poppins;
margin-bottom: 15px;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
text-transform: capitalize;
text-decoration: none;

}
.col4
{
    margin-top:-2%;
    overflow: hidden;
    width:35%;
   
}

.map_contact
{
 margin-left: 10%;
  width: 85%;
}
.foot-panel3
{
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
height: 50px;

}
.part1
{
    width: 50%;
}
@media(max-width:2650px)
{
    .col2
    {
        margin-top: 1%;
        margin-left: 2%;
        margin-right: 2% ;
        display: block;
        width: 25%;
      
    }
}
@media(max-width:2130px)
{
    .col2
    {
        margin-top: 1%;
        margin-left: 2%;
        margin-right: 2% ;
        display: block;
        width: 30%;
      
    }
}
@media(max-width:1760px)
{
    .col2
    {
        margin-top: 1%;
        margin-left: 2%;
        margin-right: 2% ;
        display: block;
        width: 35%;
      
    }
    .types2
{
    margin-top: 35%;
}
}
@media(max-width:1562px)
{
    .foot{
        background-color: #050923;
        height: 100%;
        width: 100%;
    }
    .foot-panel1
{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height: 80px;
    width:100%;
    margin-bottom: 3%;
}
.line
{
    margin-left: 0;
    width: 100%;
}

    .foot-panel2
{
    justify-content: space-evenly;
    align-items: center;
    display: block;
    width: 100%;
  
}
.s
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .col1
{
    display: flex;
    margin-top: 0%;
    flex-direction: column;
    width:100%;
    align-items: center;
    justify-content: center;
   
}
.col1 p
{
   
    margin-top: 2%;
    color: #FFFFFF;
    font-family: Segoe UI;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    
 
}


.col2
{
    display: flex;
    margin-top: 0%;
    flex-direction: column;
    
    width: 100%;
    align-items: center;
    justify-content: center;

}
 .servicetypes 
 {
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 2%;
    width: 100%;
 }
 
 .types
 {
    
    margin-left:   8%;
    margin-bottom: -1%;
    width: 100%;
 }
 .types p
 {
    
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
   
    font-size:18px;
 }

.col3
{
    display: flex;
    margin-top: 0%;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

}
.types2
{
    margin-top: 0;
    margin-bottom: 8%;
    margin-right: 10%;
    width: 100%;
}
.types2 p
{
    margin-top: 0;
    display: inline;
    margin-left: 7%;
    margin-right: 6%;
    font-size:18px;

   
}
.col4
{
    margin-top:-4%;
    overflow: hidden;
    width:100%;
    margin-bottom: 5px;
   
}
.map_contact
{
 margin-left: 5%;
  width: 90%;
}
}
@media(max-width:1280px)
{
    
    .types p
 {
    
    display: inline;
    margin-left: 4%;
    margin-right: 4%;
   
    font-size:16px;
 }
    .types2 p
    {
        margin-top: 0;
        display: inline;
        margin-left: 5%;
        margin-right: 4%;
        font-size:16px;
    
       
    }
}
@media(max-width:850px)
{
    .types p
    {
       
       display: inline;
       margin-left: 3%;
       margin-right: 4%;
      
       font-size:14px;
    }
       .types2 p
       {
           margin-top: 0;
           display: inline;
           margin-left: 4%;
           margin-right: 4%;
           font-size:14px;
       
          
       }

}
@media(max-width:850px)
{
    .loc
{
    margin-top: 5%;
    color: #FFFFFF;
    font-size:1.2rem;
    padding-right: 90px;
}
.location
{
    font-size: 0.7rem;
    margin-top: 3%;
    color: #cccccc;
 
    margin-right: 2% ;
}
    .col1 p
{
   
    margin-top: 2%;
    color: #FFFFFF;
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    
 
}

   
}
@media(max-width:750px)
{
   .col2
   {
    margin-right:5% ;
   }
    .types
 {
    
    margin-left:   0%;
    margin-bottom: -2%;
    width: 100%;
 }
 .servicetypes 
 {
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 0%;
    width: 100%;
 }
 
    .types p
    {
       
       display: flex;
       margin-left: 3%;
       margin-right: 15%;
      flex-direction: column;
       font-size:14px;
       justify-content: center;
       align-items: center;
    }
    .types2
{
    margin-top: 0;
    margin-bottom: 8%;
    margin-right: 10%;
    width: 100%;
}
       .types2 p
       {
           margin-top: 0;
           display: flex;
           margin-left: 3%;
           margin-right: 15%;
           font-size:14px;
           justify-content: center;
       align-items: center;
       
          
       }
       
}
@media(max-width:570px)
{
    .col1 p
    {
       
        margin-top: 2%;
        color: #FFFFFF;
        font-family: Segoe UI;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
       
     
    }
    .loc
    {
        margin-top: 5%;
        color: #FFFFFF;
        font-size:0.8rem;
        padding-right: 90px;
    }
    .location
    {
        font-size: 0.5rem;
        margin-top: 3%;
        color: #cccccc;
     
        margin-right: 2% ;
    }
    .foot-panel3
       {
        display: flex;
        flex-direction: column;
        height: 120px;
        justify-content: center;
        align-content: center;
       }
      
     .part1{
        width: 100%;
        margin-left: 50%;
     }

}
